@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("assets/font/style.css");

@layer base {
  html {
    font-family: Inter, Proxima Nova, system-ui, sans-serif;
    background-color: #F9FAFB;
  }
}

input[type="radio"]:focus {
  outline: none;
}


input[type="radio"]:checked + label div div {
  background-color: #53389E; 
}

input[type="radio"]:checked + label div {
  border-color: #53389E;
  /* padding: 2px;  */
}


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
